# Ignore dataset files
data/*
!data/processed/
!data/processed/**

# Environment variables
.env

# Vector database
chroma_db/

# Python cache
__pycache__/
*.pyc

# Notebook checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

venv/
__pycache__/
*.pyc
.env
.ipynb_checkpoints/